body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.obox1{
    justify-content: center;
    margin: 0;
    height: auto;
    max-width: 500px;
    padding: 2.5rem;
    text-align: center;
    font-size: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

.biobox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2.5rem;
    font-size: 100%;
}

.pbox img{
    height: auto;
    width: 40%;
}


@media(max-width: 2560px){
    .obox1{
        margin: auto;
        height: auto;
        padding: 2.5rem;
        text-align: center;
        font-size: 100%;
    }

    .pbox img{
        height: auto;
        width: 40%;
    }

    .biobox{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 2.5rem;
        font-size: 100%;
    }
}
@media(max-width: 1440px){
    .obox1{
        margin: auto;
        height: auto;
        padding: 2.5rem;
        text-align: center;
        font-size: 70%;
    }

    .pbox img{
        height: auto;
        width: 28%;
    }

    .biobox{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 2.5rem;
        font-size: 85%;
    }
}
@media(max-width: 768px){
    .obox1{
        margin: auto;
        height: auto;
        padding: 2.5rem;
        text-align: center;
        font-size: 55%;
    }

    .pbox img{
        height: auto;
        width: 22%;
    }

    .biobox{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 2.5rem;
        font-size: 65%;
    }
}
@media(max-width: 320px){

}